input/*.fit
input/*.fits
output/*.fits
output/*.fit
chunks/*
venv/
removeStars/*.fit
removeStars/*.fits
val_chunks/*
*.keras
processed_files.json
data/training/*/*.fits
data/training/*/*.tif
data/training/*/*.png
data/training/*/*.fit
data/validation/*/*